<div class="container-fluid">
  <div class="welcome">
    <img src="/assets/images/banner.jpg" class=".banner">
    <div class="intro">
      <h3>Welcome to DYR Pickles</h3>
      <hr>
      <p>We pride ourselves in using freshly picked vegetables and fruits from our 
        We pride ourselves in using freshly picked vegetables and fruits from our family operated
         farmlands to make all of the products in our catalogue.family operated farmlands to make all of the products in our catalogue.</p>
         <button class="btn btn-success" (click)="shopnow()">Shop Now </button>
        </div>
  
  </div>
 
</div>
<!-- <router-outlet></router-outlet> -->
        



